$height: 50px;
$height-outer:90px;

.vehicle {
    position: relative;
    display: block;
    padding: 20px;
    height: $height-outer;
    width: 100%;
    vertical-align: middle;
    cursor: pointer;
    text-align: left;
}
.vehicle:hover {
    background-color: #eee;
}
.vehicle .material-icons {
    display: inline-block;
    width: $height;
    height: $height;
    line-height: $height;
    font-size: 28px;
    color:#4caf50;
    text-align: center;
    vertical-align: top;
}
.vehicle .text {
    display: inline-block;
    flex-grow: 1;
    height: $height;
    max-width: 100%;
    padding-left: 10px;
    line-height: 20px;
    text-align: left;
}
.vehicle .text .name {
    color:#0d0d0d;
    font-size: 17px;
    margin-top:8px;
}
.vehicle .text .date {
    font-size: 15px;
}

@media screen and (max-width:500px) {
    .vehicle {
        height:70px;
        padding: 10px 20px;
    }
}