@import '../../../../assets/styles/_colors.scss';

footer.tab {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 200px;
    background-color: #fff;
    border-left: 1px solid $grey;
}

.prevnext {
    width: 100%;
    height: 40px;
    padding: 8px 20px;
    border-bottom: 1px solid $grey;
    text-align: left;
}
.prevnext p {
    display: inline-block;
    line-height: 24px;
    font-size: 16px;
    color:#aaa;
    text-transform: uppercase;
    padding: 0 10px;
    cursor:pointer;
}
.prevnext p.next {
    float: right;
}
.prevnext p:active {
    background-color: $grey;
}