@import '../../../../assets/styles/colors';

.status-button-container {
    display:flex;
    justify-content: space-evenly;
    width:100%;
    height:6vh;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.trackers-vehicle-container {
    padding: 0 20px;
    width: 100%;
    position: relative;
}