@import '../../assets/styles/colors';

.status-button-container {
    display:flex;
    justify-content: space-evenly;
    width:100%;
    height:6vh;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}
.device-status-button {
    display:flex;
    flex-grow: 1;
    background-color: $red;
    color:darken(white, 20%);
    font-size:18px;
    justify-content: center;
    align-items: center;
    border-bottom:solid;
    border-bottom-color:rgba($color: #000000, $alpha: 0.15);
    border-bottom-width:4px;
    border-collapse: collapse;
    user-select: none;

}
.status-button-active {
    color:white;
    border-bottom-color:white;
}