button.button {
    display: inline-block;
    width: 200px;
    margin: 20px;
    padding: 12px 20px;
    background-color: #1e88e5;
    border-radius: 2px;
    cursor: pointer;
}
button.button:hover {
    background-color: #005cb2;
}
button.button p {
    color:#fff;
    text-transform: uppercase;
}