@import '../../assets/styles/_colors.scss';

.tab .li {
    text-align: left;
    height: 50px;
    padding: 0 20px;
    line-height: 50px;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
}
.tab .li:hover {
    background-color: #eee;
}