@import '../../../../assets/styles/colors';

.filter-tab-container {
    width:0;
    height:100%;
    position: absolute;
    right:0;
    background-color: white;
    box-shadow: 1px 0px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.12);
    transition: 0.14s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    display:relative;
}

.filter-tab-show {
    width:250px;
    opacity: 1;
}

.filter-title {
    margin-top:50px;
    margin-bottom:30px;
    font-size:20px;
    font-weight:400;

}

.filter-back {
    position: absolute;
    top:20px;
    left:13px;
    cursor: pointer;
    font-size:22px;
    color:rgba(0,0,0,0.5);
}

@media screen and (max-width:500px) {
    .filter-tab-show {
        width:100%;
    }
}
