@import '../../assets/styles/colors';

.vs {
    background-color: #fff;
}
.vs .vehicle:hover {
    cursor: auto;
    background-color: #fff;
}
.vs .additional-info {
    padding: 20px;
    text-align: left;
}
.vs .additional-info p {
    margin-bottom: 12px;
}
.vs .additional-info .info {
    margin: 10px 0;
}
.vs .additional-info .info p {
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.vs .additional-info .info strong {
    font-weight: 500;
    font-size: 15px;
    margin-top: 2px;
    line-height: 20px;
    height:20px;
}