@import '../../assets/styles/colors';
@import '../../assets/styles/margins';

$min-height: calc(100% - #{$content-margin-top*2});
$max-width: calc(100% - #{$content-margin-top*2});

.content-container {
    border-radius: 2px;
    overflow: hidden;
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color: white;
    max-width:100%;
    min-width:300px;
    min-height: 100%;
    margin-top: 0;
  
}

@media screen and (max-width:$break-point) {
    .content-container {
        margin:0;
        width:100%;
        min-height:100vh;
    }

}