.input-container {
    margin: 20px 0;
    width:100%;
    display:flex;
    justify-content:center;
}
.login-input {
    width:80%;
    background-color: rgba(0,0,0,0);
    border: solid;
    border-width:0;
    border-bottom-width: 1px;
}