

.input-container {
    margin: 2vh 0;
    width:100%;
    display:flex;
    justify-content:center;
}

.login-input {
    color: rgba(0,0,0,0.2);
    width:100%;
    background-color: rgba(0,0,0,0);
    outline-width: 0;
    font-size:1rem;
    border: solid;
    border-width:0;
    border-bottom-width: 1px;
}