.login-option-container {
    display:flex;
    flex-direction: row;
    width: 90%;
    margin-top: 60px;
}

@media screen and (max-width:500px){
    .login-option-container {
        flex-wrap: wrap-reverse;
    }
}