@import '../../../../assets/styles/colors';

.login-option {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius:3px;
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:$red;
    width:120px;
    height: 40px;
    margin-top: 20px;
    flex-basis: 100%;
}

.login-option-text {
    color:white;
    
}

.login-option + .login-option {
    margin-left:20px;
}

@media screen and (max-width:500px){
    .login-option {
        flex-wrap: wrap;
        flex: 1 1 100%;
    }
    .login-option + .login-option {
        margin-left:0px;

    }
}