@import 'assets/styles/colors';

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  background-color: $grey;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3 ,h4, h5, p, a, li {
  font-family: 'Roboto', sans-serif;
  color:#474848;
  font-weight: 400;
}
h1 {
  color:#777;
}
p {
  color:#7a7a7a;
}
