@import '../../assets/styles/colors';

$full-height: 100vh;
$min-height: $full-height * 0.95;

.tracker-container {
    border-radius: 2px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: white;
    width:90%;
    max-width:500px;
    min-width:300px;
    min-height: $min-height;
    margin: 5% 0 0 0;
}