@import './../../../../assets/styles/colors';

$width: 520px;
$left-padding: 50px;

.journey-outer {
    width:100%;
    border-bottom: 1px solid #eee;
    width:100%;
    padding: 20px 0px 10px $left-padding;
    height:120px;
}

.journey-container {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100%;
    width:$width;
}

.journey-vehicle-container {
    height:100%;
    width:300px;
}

.journey-destinations {
    font-size:13px;
    text-align: left;
    
}

.journey-reason {
    font-size: 11px;
    text-align: center;
}

.journey-vehicle-info {
    display:flex;
    width:200px;
}

.journey-icon-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    align-items: center;
}

.journey-vehicle-icon {
    font-size:45px;
    color:#4caf50;
}
.journey-route-container {
    height:80px;
    display:flex;
    margin-left:50px;
    width:200px;
    flex-direction: row;
    justify-content: space-around;
}

.journey-long-route-container{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}


.route-text {
    font-size:11px;
    text-align: left;
}

.journey-vehicle-name {
    font-size:14px;
    font-weight:500;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.journey-info {
    margin-left: 20px;
    width:200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.journey-a-to-b-img {
    width:13px;
    height:95%;
    margin-right:8px;
}

@media screen and (max-width:$width + $left-padding) {
    .journey-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: baseline; 
        width:100%;
    }
    .journey-outer {
        height:200px;
        padding: 10px 0px 5px $left-padding;
    }
    .journey-route-container {
        margin-top:20px;
        margin-left:0px;
    }
}