@import '../../assets/styles/colors';

$nav-height: 64px;

nav.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    width: 100%;
    overflow: hidden;
    background-color: $red;
    z-index: 10;
    padding: 7px 16px;
    text-align: left;
}
nav.header .hamburger {
    display: inline-block;
    height:40px;
    vertical-align: top;
    margin:5px 0;
    padding:0 8px;
    cursor: pointer;
    transition: 0.24s cubic-bezier(0.4, 0, 0.2, 1);
}
nav.header .hamburger:active {
    background-color: rgba(0,0,0, 0.1);
}
nav.header .hamburger i {
    line-height: 40px;
    color:#fff;
    user-select: none;
}
nav.header img.logo {
    display: inline-block;
    height: 50px;
}