@import 'assets/styles/colors';
$nav-height: 64px;

nav.header {
    height: $nav-height;
    width: 100%;
    background-color: $red;
}
nav.side {
    position: absolute;
    height: 100vh;
    width: 240px;
    background-color: #fff;
}
