@import '../../assets/styles/colors';

$nav-height: 64px;

nav.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $nav-height;
    width: 100%;
    overflow: hidden;
    background-color: $red;
    z-index: 10;
    padding: 7px 16px;
}
nav.header .hamburger {
    display: inline-block;
    vertical-align: top;
    padding:0 8px;
    cursor: pointer;
}
nav.header .hamburger i {
    line-height: 50px;
    color:#fff;
    user-select: none;
}
nav.header img.logo {
    display: inline-block;
    height: 50px;
}